* { margin: 1; 
	font-family: Verdana; 
	padding: 0;
}
#contenedor{
	width: 1200px;
	margin: auto;
	margin-top: 20px;
	overflow: hidden;
	margin-bottom: 20px;
}

body{
	background: #cbcbcc;
}

header{
	display:flexbox; 
	justify-content:center;
	width: 1200px;
	height: 120px;
	border-radius: 20px;
	overflow: hidden;
}

nav{
	width: 1200px;
	height: 100px;
	background: #013149;
	float: left;
	border-radius: 20px;
	margin-top: 20px;
	border: solid;
	color: #FFFFFF; 
}

nav  li{
	list-style:none;
	display: inline-block;
	padding: 20px 0px;
	float:none;
}
nav a{
	color: #FFFFFF;
	text-decoration: none;
	font-size: 22px;
	padding: 10px 30px 10px 30px;
}
nav li ul {
	display:none;
	position:absolute ;
	min-width: 150px;
}
nav li:hover > ul {
	display: block;
}
nav li a:hover {
	background-color:#e23004;
	border-radius: 20px;
	margin-top: 10px;
	border: solid;
	color: #ffffff; 
}
p {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 18px;
	text-align:left;
}

h1{
	background: #f18b04;
	font-family: arial;
	font-size: 26px;
	color: #FFFFFF;
	text-align: center;
	border-radius: 20px;
	margin-top: 10px;
	border: solid;
	color: #013149; 
}
.antiguo{
	background: #013149;
	font-family: arial;
	font-size: 26px;
	color: #FFFFFF;
	text-align: center;
	border-radius: 20px;
	margin-top: 10px;
	border: solid;
	color: #013149; 
}
	
h2{
	font-family: arial;
	font-size: 22px;
	color: #FFFFFF;
	text-align: center;
	border-radius: 10px;
	margin: 5px 5px 5px 5px;
	margin-top:5px;
	border: solid;
	color: #013149; 
}
h3{
	text-align:left;
	margin: 5px 5px 5px 5px;
}

h6{
	font-family: arial;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	margin: 20px;
}

.audio{
	background: #e23004;
	padding: 60px 300px;
	border-radius: 6px
}

section{
	width: 870px;
	background: #FFFFFF;
	height: 1150px;
	float: left;
	margin: 10px 0px 10px 0px;
	border-radius: 10px;
	padding: 10px;
	
}
.layout{
	width: 340px;
	height: 460px;
	border-radius: 10px;
	margin: 10px 60px 10px 460px;
    border: solid;
	color: #013149; 
    
}

.layout img{
	margin: 0px 10px 0px 10px;
}

article img{
	margin: 0;
    float:right;
	margin: 20px;
}
.referencias p{
	font-size: 14px;
	text-align:left;
}
aside{
	width: 280px;
	background: #FFFFFF;
	height: 1150px;
	float: right;
	margin-left: 20px;
	margin: 10px 0px 10px 10px;
	border-radius: 10px;
	padding: 10px;
}

aside a img {
	width: 250px;
	height: 100px;
	margin-top: 10px;
	margin: 5px 5px 5px 5px;
}

.autor{
	text-align:center;
}
.autor p{
	text-align: center;
}

.boton a img{
    width: 250px;
	height: 100px;
	margin-top: 10px;
	margin: 5px 5px 5px 5px;
}
.doc {
	width: 870px;
	height:270px;
	float:left;
	margin: 10px;
}
.doc a img{
	width: 60px;
	height: 70px;
	margin: 0;
    float: inherit;

}
.doc img {
    width: 400px;
	height: 230px;
	margin: 0;
    float:right;
	margin: 20px;
}
.boton{
	 padding: 10px;
	 font-weight: 600;
	 font-size: 20px;
	 color: #ffffff;
	 background-color: #013149;
	 border-radius: 6px;
	 border: 2px solid #013149;
	 float:right;
}
.boton:hover{
    color: #013149;
    background-color: #ffffff;
}


footer{
	width: 1190px;
	height: 100px;
	background: #e23004;
	border-radius: 10px;
	margin: 20px 0 20px 0;
    border: solid;
	color: #FFFFFF; 
    overflow:hidden;

}

